header {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

.menu-esquerda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.menu-esquerda-botao {
    all: unset;
    cursor: pointer;
    display: inline-block;
    background: none;
    border: none;
}

.menu-esquerda-botao img {
    pointer-events: none;
}

.menu {
    display: block;
    position: absolute;
    top: 4em;
    left: 0;
    background: var(--white);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 15em;
    z-index: 9999;
}

.menu p {
    font-size: 1rem;
    font-weight: 700;
    padding: 1em;
    text-decoration: none;
    color: var(--titles);
}

.menu a {
    color: var(--text-header);
    font-size: 1rem;
    display: block;
    padding: 1.5em;
    text-decoration: none;
}

.header-logo {
    margin-bottom: 3px;
    width: 1.5em;
}

.header-logo-titulo {
    display: none;
}

.menu-central {
    display: none;
}

.menu-central-a {
    font-size: 1.125rem;
    color: black;
}

.menu-btn-central {
    display: none;
    all: unset;
    color: black;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.125rem;
}

.menu-direita {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-direita-a{
    display: none;
}

.logo-compras {
    margin: 0 1em;
}



@media screen and (min-width: 1086px) {

    header {
        padding: 1em 4em;
    }

    .menu-esquerda {
        gap: 10px;
    }

    #menu-btn {
        display: none;
    }

    .header-logo-titulo {
        display: block;
        font-family: "Josefin Sans", serif;
        font-size: 1.5rem;
    }
    
    .header-logo-titulo b {
        font-weight: 700;
    }

    .menu-central {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5em;
        padding: 0 4em;
    }

    .menu-central-a {
        
        text-decoration: none;
        font-size: 1.125rem;
    }

    .menu-central-a:hover {
        color: var(--titles);
    }

    .header-logo {
        margin-bottom: 8px;
    }

    .menu-btn-central {
        display: block;
    } 

    .menu-btn-central:hover {
        color: var(--titles);
    }

    .menu {
        left: auto;
    }

    .menu a:hover {
        color: var(--titles);
    }

    .logo-usuario {
        margin-left: 3em;
    }

    .logo-favoritos {
        display: none;
    }
    
}

@media screen and (min-width: 1600px) {

    .menu-central {
        width: 100%;
        justify-content: flex-start;
    }

    .menu-direita {
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        gap: 4em;
    }
    
    .menu-direita-opcoes {
        display: flex;
        align-items: center;
    }

    .menu-direita-a{
        all: unset;
        cursor: pointer;
        color: black;
        font-size: 1.125rem;
        display: block;
    }

    .menu-direita-a:hover {
        color: var(--titles);
    }

    .logo-compras {
        margin: 0 1em 0 0;
    }
    
    .logo-usuario {
        margin: 0 1em 0 0;
    }
}